@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br>

<p class="lead">COMP-8157 Project 1</p>
<p class="lead">by S2G2</p>
<p class="lead">Feb 1st, 2019</p>

<address>
    University of Windsor<br />
    Windsor,ON<br />

</address>
